<div class="container text-center">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      <div class="card-home-description">
        <%= image_tag("picto_choose.png") %>
        <h3>Choose your favorite spot</h3>
      </div>
    </div>
    <div class="col-xs-offset-2 col-xs-8">
      <div class="card-home-description">
        <%= image_tag("car_picto.png") %>
        <h3>Find a rider who also go there</h3>
      </div>
    </div>
    <div class="col-xs-offset-2 col-xs-8">
      <div class="card-home-description">
        <%= image_tag("surf_picto.png") %>
        <h3>Let's go riding</h3>
      </div>
    </div>
  </div>
</div>
