<div class="banner" style="background-image: linear-gradient(-225deg,rgba(162, 160, 160, 0.6) 0%, rgba(0, 0, 0, 0.38) 48%), url(<%= asset_path 'background.jpg' %>);">
  <div class="banner-content">
    <h1>Find a way to go surfing</h1>
    <p>We leave to surf come with us !</p>
    <%= render 'form' %>
  </div>
</div>

<%= content_for :after_js do %>
<script type="text/javascript">
$( document ).ready(function() {
    $('#datetimepicker').datetimepicker();
});
</script>
<% end %>
