<div class="container text-center">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="margined-top">
        <h1>Create your wave</h1>
        <h4>to share your way with other riders</h4>
        <br>
        <%= render 'new_wave_form' %>
      </div>
    </div>
  </div>
</div>

